[user]
name = Roberto Bruggemann
email = roberto.bruggemann@gmail.com
[branch]
autosetuprebase = always
[core]
editor = vim
whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[alias]
st = status -s
co = checkout
re = reset
br = branch
lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
cm = commit -v
[diff]
tool = vimdiff
[difftool]
prompt = false
[log]
decorate=auto
